*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif:
}

body{
  display: flex;
  justify-content: center;
  
}

.conteiner1{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;

}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.finalCard{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  background-color: #c1c1c1;
}